body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Navbar brand */
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse{
  background-color: #710C04;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #861c14;
}

/* Intro line */

h3{
  text-transform: uppercase;
  font-weight: 800;
}

/* padding */

.padding{
  padding-top: 10px;
  padding-bottom: 10px;
}


/* custom well */

.well-lg {
    padding: 24px;
    border-radius: 6px;
    background-color: #FF3800;
    color: #FFF;
    border-radius: 0px;
}

/* Services page */

.servicewell{
  background-color: #fff;
  color: #000;
}

.servicewell:hover{
  background-color: #FF3800;
  color: #fff;
}

servicepadding{
  padding-left: 10px;
}

/* contact page */


.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  border: 1px solid GREY;
  }